<h1>歡迎來下載股票資訊<i class="fab fa-fort-awesome"></i></h1>

<div class='d-flex'>
	<%= link_to '股票清單', stocks_path %>

	<%= form_with url: api_v1_download_stocks_path, method: 'POST', class: 'ms-auto' do |f| %>
		設定下載的日期區間：
		<%= f.date_field :start_on, min: "2004-02-11",
																max: Date.today - 1.days,
																value: Date.today - 1.days %>～
		<%= f.date_field :end_on, min: "2004-02-12",
															max: Date.today,
															value: Date.today %>
		<%= f.submit "篩選", class: "btn btn-warning" %>
	<% end %>
</div>




<%= month_calendar(attribute: :transaction_date, events: @downloaded_dates) do |date, downloaded_dates| %>
  <%= date %>
	<% if downloaded_dates.map(&:transaction_date).include?(date) %>
		<p class='text-primary'><i class="far fa-check-circle fs-2"></i></p>
	<% else %>
		<p class='text-danger'><i class="far fa-times-circle fs-2"></i></p>
	<% end %>
<% end %>