<h1>Welcome to download stock list!</h1>

<%= form_with url: stock_download_path, method: 'POST' do |f| %>
	日期：
	<%= date_field_tag :date %>
	<%= f.submit "輸入日期" %>
<% end %>

<%= form_with url: mutiple_create_stock_download_path, method: 'POST' do |f| %>
	設定日期區間：
	<%= f.date_field :start_on, min: "2004-02-11", 
															max: Date.today - 1.days, 
															value: Date.today - 1.days %>～
	<%= f.date_field :end_on, min: "2004-02-12", 
														max: Date.today, 
														value: Date.today %>
	<%= f.submit "篩選" %>
<% end %>

<%= link_to '股票清單', stocks_path %>